/*      header      */
.header {
    display: flex;
    align-items: center;
    padding: 15px 10%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

/*      main    */

main {
    /*
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 16%;
    /*
     */
    position: relative;
    font-family: 'Oswald-light', sans-serif;
}

.gridContent {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 100px;
    max-width: 1300px;
    height: auto;
    width: 90%;
    margin: 30px 0;
}


.block-desc {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    border-radius: 20px;

}

.content-image {
    width: 100%;
    max-height: 280px;
    height: 270px;
    object-fit: cover;
}

.img-prod {

    max-height: 400px;
    height: 400px;
    object-fit: cover;
    padding: 15px;
    border-radius: 20px;

}

.img-product {
    width: 600px;
}

.desc-product {
    text-align: left;
    width: 35%;
    padding-left: 35px;
}

.main {
    padding: 150px 10%;
}


#block-footer {
    bottom: 0;
}

/*      panier        */

.block-panier {

    height: 800px;
    width: 100%;
}

#inner-header {
    text-align: center;
}

.tableau-style {
    border-collapse: collapse;
    min-width: 400px;
    width: 100%;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
}

footer {
    padding: 0;
    bottom: 0;
    width: 100%;
}

/*  FORMULAIRE PANIER */

#formulaire {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(109% - 100px);
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#formulaire > i {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;


}
#formulaire form {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 20px;
    background-color: white;

}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightblue;
    border-radius: 5px;

}

#page1 {
    text-align: center;
}

#page1 div {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.form-none{
    display: none;
}
#envoyer{
    margin-top: 25px;
}