:root {
    --height: 144px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li, a, button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
}

footer {
    flex-shrink: 0;
    width: 100%;
}

header, footer {
    background-color: #252525;
}

/*********************      header      *************************/
header {
    display: flex;
    align-items: center;
    padding: 30px;
}

.logo {
    margin-right: auto;
}

.navContent {
    list-style: none;
}

.navContent li {
    display: inline-block;
    padding: 0 20px;
}

.navContent li a {
    transition: all 0.3s ease 0s;
}

.navContent li a:hover {
    color: #0088a9;
}

button {
    padding: 10px 25px;
    background-color: rgba(1, 142, 177, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/*********************      header end     *************************/

/*********************      main    ********************************/

main {
    font-family: 'Oswald-light', sans-serif;
    flex: 1 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 51px;
    margin: 41px;
}

/*********************      overlay     ****************************/

.content {
    position: relative;
    max-width: 400px;
    margin: auto;
    height: 100%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 1.3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.content p {
    margin-top: 40px;
}

.contentDesc {
    color: #232323;
    padding: 1.5em;
    background-color: #eeeeee;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
    max-height: 230px;
    height: 230px;
    object-fit: cover;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadeIn-right {
    left: 80%;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    border: none;
    border-radius: 50px;
    margin: 20px 0;
    padding: 10px 25px;
    background-color: rgba(1, 142, 177, 1);
    cursor: pointer;
    color: aliceblue;
}

.price span {
    font-size: 25px;
    font-weight: 700;
    color: aliceblue;
}

/*********************      overlay end     ****************************/

/*********************      footer      ********************************/
.socialBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.socialBar {
    list-style: none;
}

.socialBar li {
    padding: 0 20px;
}

.socialBar li a:hover {
    color: #0088a9;
}

/*********************      footer end      ********************************/


/*********************      Hamburger       ********************************/

/*  bouton */
.ham {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: aliceblue;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40, 160;
}

.ham8 .middle {
    stroke-dasharray: 40, 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40, 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
/ / stroke-dashoffset: - 20 px;
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

/*  bouton end  */

#overlay-menu {
    display: none;
}

/*********************  Hamburger end   *************************/


/*********************      product     *************************/
.main {
    padding: 60px 20%;
}

.block-card {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
    padding-bottom: 15px;
    border-radius: 20px;
    margin: 40px;
}

.img-teddy {
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-height: 230px;
    height: 230px;
    object-fit: cover;
}

.desc-product {
    text-align: center;
}

#btn-add {
    margin-top: 10px;
}


.dnone {
    display: none;
}


.header {
    position: relative;
    height: calc(var(--height) - 30px);
}

#overlay-menu-hamburger {
    position: absolute;
    top: var(--height);
    left: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.7);
    height: 144vh;
    width: 100%;
}

#overlay-menu-hamburger > ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

#overlay-menu-hamburger > ul > li {
    padding: 15px 0;
    background-color: #252525;
    width: 100%;
}

#overlay-menu-hamburger > ul > li:hover {
    background-color: #0088a9;
}

/*********************      product end    *************************/


/*********************      panier        **************************/

.tableau-style {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
}

#img-tb {
    width: 400px;
    display: inline-block;
}

thead tr {
    background-color: #252525;
    color: aliceblue;
    text-align: center;
}

tr {
    display: flex;
    flex-direction: column;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3
}

.panier-row h3 {
    border-bottom: 1px solid #252525;
}

.block-panier {
    margin: 15px;
    padding: 5%;
}
#btnSppr{
    background-color: inherit;
    color: #252525;
}
#card-total {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 5px;
    font-weight: 800;
    font-size: 1.5rem;
}

#inner-header {
    text-align: center;
}

.titlepanier{
    text-align: center;
}

/*  FORMULAIRE PANIER */

#formulaire {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#formulaire > i {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;


}

#formulaire form {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 20px;
    background-color: white;

}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.form-title {
    grid-area: form-title;
    text-align: center;
}

/*firstname*/
.form-label-firstname {
    grid-area: form-label-firstname;
}

.form-input-firstname {
    grid-area: form-input-firstname;
}

#form-msgerror-firstname {
    grid-area: form-msgerror-firstname;
}

/*lastname*/
.form-label-lastname {
    grid-area: form-label-lastname;
}

.form-input-lastname {
    grid-area: form-input-lastname;
}

#form-msgerror-lastname {
    grid-area: form-msgerror-lastname;
}

/*address*/
.form-label-address {
    grid-area: form-label-address;
}

.form-input-address {
    grid-area: form-input-address;
}

#form-msgerror-address {
    grid-area: form-msgerror-address;
}

/*city*/
.form-label-city {
    grid-area: form-label-city;
}

.form-input-city {
    grid-area: form-input-city;
}

#form-msgerror-city {
    grid-area: form-msgerror-city;
}

/*email*/
.form-label-email {
    grid-area: form-label-email;
}

.form-input-email {
    grid-area: form-input-email;
}

#form-msgerror-email {
    grid-area: form-msgerror-email;
}

/*button*/
.form-button {
    grid-area: form-button;
}

#form {
    display: grid;
    grid-template-areas:
        "form-title form-title"
        "form-label-firstname form-input-firstname"
        ". form-msgerror-firstname"
        "form-label-lastname form-input-lastname"
        ". form-msgerror-lastname"
        "form-label-address form-input-address"
        ". form-msgerror-address"
        "form-label-city form-input-city"
        ". form-msgerror-city"
        "form-label-email form-input-email"
        ". form-msgerror-email"
        "form-button form-button";
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto repeat(5, 50px 20px) auto;
}

#form-msgerror-firstname,
#form-msgerror-lastname,
#form-msgerror-address,
#form-msgerror-city,
#form-msgerror-email {
    display: none;
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}

#form label {
    line-height: 50px;
    text-align: right;
}


.form-none {
    display: none;

}

#envoyer {
    max-width: 400px;
    margin: 25px auto;
}

/*  Order   */
#block-order {
    max-width: 400px;
    text-align: center;
    border-radius: 1.3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    margin: 30px;
    padding: 5px;
}

#block-order > p {
    margin-top: 25px;
    margin-bottom: 25px;
}

#block-order > a > button {
    margin-top: 25px;
    margin-bottom: 25px;
}
