/*      header      */
.header {
    display: flex;
    align-items: center;
    padding: 15px 10%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.navContent li a:hover {
    color: #0088a9;
}

/*      main    */

main {
    /*
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 10%;
    */
    font-family: 'Oswald-light', sans-serif;
}

.gridContent {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 50px;
    max-width: 1300px;
    height: auto;
    width: 100%;
    margin: 30px 0;
}

.block-desc {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding-bottom: 0;

}

.content-image {
    width: 100%;
    max-height: 280px;
    height: 280px;
    object-fit: cover;
}

.img-product{
    display: flex;
    align-items: center;
    padding: 15px;
}
.img-prod{
    border-radius: 20px;
    width: 100%;
    max-height: 280px;
    height: 280px;
    object-fit: cover;
}
#btn-add {
    margin-top: 10px;
}

.desc-product {
    padding: 10px;
}

#hamburger {
    display: none;
}

#fullscreen-menu {
    display: block;
}

.main {
    padding: 80px 7%;
}

.block-footer{
    position: absolute;
}